@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background: linear-gradient(
      270deg,
      #ffedd5,
      #e0f2fe,
      #fce7f3
    );
    background-size: 400% 400%;
    animation: gradientFlow 12s ease infinite;
  }
  
  @keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
