@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-animated { 
      background: linear-gradient(135deg, #000, #1a1a1a, #260000, #ff6a00);
      background-size: 300% 300%;
      animation: bgShift 12s infinite ease-in-out;
    }
  
    @keyframes bgShift {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
  }
  